
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #ddd;
    display: flex;
    height: 100vh;
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
}


.sidebar {
    background-color: #222;
    width: 250px;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile {
    margin-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.sidebar h2 {
    margin-top: 10px;
    color: #f0f0f0;
}

.sidebar p {
    color: #888;
}

.contact-info {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.contact-info li {
    margin: 15px 0;
    color: #ddd;
}

.sidebar .social-icons a {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}


.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.navbar ul li a:hover {
    color: #00aaff;
}


.content {
    flex: 1;
    padding: 40px;
    background-color: #222;
    border-radius: 8px;
    margin-left: 270px;
    overflow-y: auto;
    height: 100%;
}

.content-box {
    background-color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}


section h2 {
    color: #f0f0f0;
    margin-bottom: 10px;
}

section p {
    color: #bbb;
    line-height: 1.6;
}


.progress-container {
    margin: 20px 0;
}

.progress-bar {
    background-color: #444;
    border-radius: 10px;
    position: relative;
    height: 25px;
    width: 100%;
}

.progress {
    background-color: #00aaff;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: width 0.3s ease-in-out;
}

.progress::after {
    content: attr(data-percent);  
    position: absolute;
    right: 10px;
    top: 0;
    color: #fff;
    line-height: 25px;
}


.image-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.content-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text-container {
    max-width: 70%;
}

.text-container h2 {
    margin: 0;
    color: #f0f0f0;
    font-size: 1.5em;
}

.text-container p {
    color: #bbb;
    font-size: 1em;
    line-height: 1.6;
    margin-top: 5px;
}


.html-progress {
    width: 10%;
}

.css-progress {
    width: 8%;
}

.python-progress {
    width: 20%;
}

.image-editing-progress {
    width: 35%;
}

.video-editing-progress {
    width: 40%;
}


.contact-container {
    width: 70%;
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.contact-container h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 20px;
}

.contact-container .underline {
    width: 100px;
    height: 5px;
    background-color: #00aaff;
    margin-bottom: 20px;
}


.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form .input-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    background-color: #333;
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ddd;
    width: 100%;
}

.contact-form textarea {
    resize: none;
}


.contact-form .btn {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form .btn:hover {
    background-color: #0088cc;
}


.content-box,
.navbar {
    transition: margin 0.3s, padding 0.3s;
}


input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 2px solid #00bfff;
    outline: none; 
    box-shadow: 0 0 8px rgba(0, 191, 255, 0.5); 
    transition: all 0.2s ease-in-out; 
}


input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.fa {
    color: #FFFFFF;
    font-size: 18px;
    margin-right: 5px;
}

p {
    font-size: 18px;
}

.indented-text li {
    text-indent: 20px; /* Indent only the text */
}
