body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ddd;
}

header {
    background-color: #111;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
}

/* Container holding the sidebar and main content */
.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}

/* Sidebar section styling */
.sidebar {
    background-color: #222;
    width: 300px;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100vh; /* Sidebar should cover the full height */
}

.sidebar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.sidebar h2 {
    margin-top: 15px;
}

.contact-info li {
    list-style-type: none;
    margin: 15px 0;
}

.social-links a {
    color: #ddd;
    margin: 0 10px;
}

/* Main content styling */
.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Allows the content to scroll if too long */
}

.skills {
    margin-top: 20px;
}

.skills h4 {
    margin-bottom: 10px;
}

.skills p {
    margin: 5px 0;
}
